/* tailwindcss start */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* tailwindcss end */

:root {
  --foreground: #0f172a;
  --background: #62b8f1;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'comic sans ms', cursive, sans-serif;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}